/* Основные стили */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFF5E1;
  color: #3E2723;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  background-color: #4E342E;
  color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header {
  position: relative;
  text-align: center;
}

.original-image {
  display: block;
  margin: 0 auto;
  max-width: 100%; /* Предотвращает выход за пределы контейнера */
  height: auto; /* Сохраняет пропорции */
}

.header h1 {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  font-size: 2.5rem;
}

.content {
  padding: 20px;
}

h2 {
  margin-top: 0;
  color: #FFD54F;
  font-size: 1.8rem;
}

.section {
  margin-bottom: 20px;
}

.section ul {
  list-style-type: disc;
  padding-left: 20px;
}

.steps ol {
  list-style-type: decimal;
  padding-left: 20px;
}

footer {
  text-align: center;
  padding: 15px;
  background-color: #3E2723
