body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

header {
    text-align: center;
    padding: 20px;
    color: white;
    box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.5);
}

main {
    padding: 20px;
}

.categories, .recipes {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.category, .recipe h2 {
    text-align: center;
    padding: 60px;
    background-color: #48dbfb;
    color: white;
    box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    text-decoration: none;
    font-size: 1.2em;
}

.category:hover, .recipe h2:hover {
    background-color: #10ac84;
}

footer {
    position: relative; /* используем relative вместо fixed */
    width: 100%;
    background-color: #FFF5E1;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.bottom-menu a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.bottom-menu a:hover {
    text-decoration: underline;
}

